<!DOCTYPE html>
<html>
  <head>
    <title>上传信息</title>

  </head>
<body style="background: url('images/u0.jpg')no-repeat center 0px;background-position: center 0;background-size: cover;">
    <div id="base2" class="" style="float:left;width:20%; height:100%;">&nbsp;&nbsp;</div>
    <div id="base" class="" style="float:left;width:60%; height:100%;">
      <!-- Unnamed (图片) -->


      <form action="/uploadDogInfo" enctype="multipart/form-data" method="post">

        &nbsp;&nbsp;&nbsp;<p style="font-size: 40px;color: darkmagenta">&nbsp;&nbsp;上传小可爱的信息</p><br><br><br>
        <font face="楷体">类型</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;
        <input type="radio"  height=10% value="cat" name="isDog" checked="Dog" style="size: 20px;height: 20px">
        <font color="red" face="楷体">小猫咪&nbsp;</font>
        <input type="radio" value="dog" height=10%  name="isDog"style="size: 20px;height: 20px">
          <font color="red" face="楷体">小狗狗&nbsp;</font><br><br>
        <font face="楷体">
        请上传照片&nbsp;&nbsp;&nbsp;</font>
        <input type="file" name="img" height="10%" width="30%"style="size: 20px;height: 20px"><br><br>
        <font face="楷体">城市</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="city" placeholder="必填" size="10px" style="size: 20px;height: 20px"><br><br>
        <font face="楷体">联系方式</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="非必填" name="connect" style="size: 20px;height: 20px"><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="submit " value="上传小可爱的信息"/><br><br><br>
        <p style="font-size: 13px">本网站将保证保护所有救助猫/狗的爱心人士的个人隐私</p>
      </form>

</div>
  <div id="base1" class=""  style="font-family:'Arial';font-size:18px;float:left;width:17%; height:100%;">
    <br> <br> <br> <br> <br> <br>

    <font face="宋体">如果人人献出一点爱，小猫小狗也能享受到美好的生活。请和我们一起来献出你的爱心吧！</font>
  </div>


    <!--<div style="width:300px; height:auto; float:left; display:inline">AAAA</div>
    <div style="width:300px; height:auto; float:left; display:inline">BBBB</div>
    <div  style="width:300px;height:300px;background:blue;float:left">div1哈哈哈哈</div>
    <div style="width:300px;height:300px;background:red;float:left">div2呵呵呵呵</div>   -->
  </body>
</html>
